.env
terraform/self-hosted-install/gcp-key.json
terraform/gcp-self-hosted-install/gcp-key.json
terraform/gcp-self-hosted-install/terraform.tfstate
terraform/gcp-self-hosted-install/.terraform.lock.hcl
terraform/gcp-self-hosted-install/terraform.tfstate.backup
terraform/gcp-self-hosted-install/.terraform/providers/registry.terraform.io/hashicorp/google/4.51.0/darwin_arm64/terraform-provider-google_v4.51.0_x5
.DS_Store
demo-daily-update/*.json
demo-daily-update/*.json.gz
demo-data-population/tasks/*.json
demo-data-population/tasks/*.json.gz
demo-data-population/*.json
demo-data-population/*.json.gz
terraform/gcp-self-hosted-install/gcp-cred.json
vitally-enhancements/*
vitally-freshdesk-automation/*
cert-test.py
temp/*
