aiohttp==3.9.5
aiosignal==1.3.1
anyio==3.7.1
attrs==23.2.0
autopep8==2.0.2
beautifulsoup4==4.12.3
black==23.3.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.1.0
click==8.1.3
cryptography==41.0.4
distro==1.8.0
dpkt==1.9.8
flatten-json==0.1.13
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.4
jwt==1.3.1
markdownify==0.12.1
multidict==6.0.5
mypy-extensions==1.0.0
openai==1.3.7
packaging==23.0
pathspec==0.11.1
platformdirs==3.2.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
PyJWT==2.8.0
requests==2.31.0
runzero-sdk==0.7.1
scapy==2.5.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
tenacity==8.2.3
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.5.0
urllib3==1.26.15
yarl==1.9.4
