{
  "openapi": "3.0.0",
  "info": {
    "title": "runZero API",
    "description": "runZero API. API use is rate limited, you can make as many calls per day as you have licensed assets.",
    "contact": {
      "email": "support@runzero.com"
    },
    "license": {
      "name": "Commercial",
      "url": "https://www.runzero.com/legal/terms"
    },
    "version": "4.0.250407.1"
  },
  "servers": [
    {
      "url": "https://console.runzero.com/api/v1.0",
      "description": "runZero Console"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "oauthDefaults": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Requires Account key (starts with CT), or OAuth"
    },
    {
      "name": "Organization",
      "description": "Requires Organization key (starts with OT), Account key (starts with CT), or OAuth"
    },
    {
      "name": "Export",
      "description": "Requires Export token (starts with ET), Organization key (starts with OT), Account key (starts with CT), or OAuth"
    },
    {
      "name": "Import",
      "description": "Requires Organization key (starts with OT), Account key (starts with CT), or OAuth"
    },
    {
      "name": "Public",
      "description": "Unauthenticated"
    }
  ],
  "paths": {
    "/releases/agent/version": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Returns latest agent version",
        "operationId": "getLatestAgentVersion",
        "responses": {
          "200": {
            "description": "component version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentVersion"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/releases/scanner/version": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Returns latest scanner version",
        "operationId": "getLatestScannerVersion",
        "responses": {
          "200": {
            "description": "component version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentVersion"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/releases/platform/version": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Returns latest platform version",
        "operationId": "getLatestPlatformVersion",
        "responses": {
          "200": {
            "description": "component version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentVersion"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Returns a health check status (cloud and self-hosted)",
        "operationId": "getHealthCheck",
        "responses": {
          "200": {
            "description": "health status and current version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/import/org/{orgID}/assets": {
      "post": {
        "tags": [
          "Organization",
          "Import"
        ],
        "summary": "Import assets described by a registered custom integration",
        "description": "Assets can be discovered, imported, and merged by runZero scan tasks, first-party integrations, and third-party\ndefined custom integrations. See [/account/custom-integrations](#/account/getAccountCustomIntegrations). Currently only assets for custom integrations are importable here.\n",
        "operationId": "importCustomIntegrationAssets",
        "parameters": [
          {
            "name": "orgID",
            "in": "path",
            "description": "The ID of the organization to import the assets into",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/NewAssetImport"
              },
              "encoding": {
                "assetData": {
                  "contentType": "application/gzip"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "import task created. The task ID should be checked for its status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequestBodyError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/NotAllowedForLicenseError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequestBodyError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/export/org/assets.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Exports the asset inventory",
        "operationId": "exportAssetsJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered asset results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/assets.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Asset inventory as JSON line-delimited",
        "operationId": "exportAssetsJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered asset results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/assets.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Asset inventory as CSV",
        "operationId": "exportAssetsCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered asset results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/assets.nmap.xml": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Asset inventory as Nmap-style XML",
        "operationId": "exportAssetsNmapXML",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered asset results",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/services.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Service inventory as JSON",
        "operationId": "exportServicesJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered service results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/services.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Service inventory as JSON line-delimited",
        "operationId": "exportServicesJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered service results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/services.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Service inventory as CSV",
        "operationId": "exportServicesCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered service results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/sites.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Export all sites",
        "operationId": "exportSitesJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "all sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/sites.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Site list as JSON line-delimited",
        "operationId": "exportSitesJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "all sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/sites.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Site list as CSV",
        "operationId": "exportSitesCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "all sites",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/wireless.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Wireless inventory as JSON",
        "operationId": "exportWirelessJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered wireless results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wireless"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/wireless.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Wireless inventory as JSON line-delimited",
        "operationId": "exportWirelessJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered wireless results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/wireless.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Wireless inventory as CSV",
        "operationId": "exportWirelessCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered wireless results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/software.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Exports the software inventory",
        "operationId": "exportSoftwareJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered software results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Software"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/software.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Software inventory as JSON line-delimited",
        "operationId": "exportSoftwareJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered software results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/software.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Software inventory as CSV",
        "operationId": "exportSoftwareCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered software results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/vulnerabilities.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Export the vulnerability inventory as JSON",
        "operationId": "exportVulnerabilitiesJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered vulnerability results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vulnerability"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/vulnerabilities.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Export the vulnerability inventory as JSON line-delimited",
        "operationId": "exportVulnerabilitiesJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered vulnerability results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/vulnerabilities.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Export the vulnerability inventory as CSV",
        "operationId": "exportVulnerabilitiesCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered vulnerability results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/certificates.csv": {
      "get": {
        "tags": [
          "Export",
          "Certificates"
        ],
        "summary": "Export the certificate inventory as CSV",
        "operationId": "exportCertificatesCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered certificate results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/certificates.json": {
      "get": {
        "tags": [
          "Export",
          "Certificates"
        ],
        "summary": "Export the certificate inventory as JSON",
        "operationId": "exportCertificatesJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered certificate results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Certificate"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/certificates.jsonl": {
      "get": {
        "tags": [
          "Export",
          "Certificates"
        ],
        "summary": "Export the certificate inventory as JSONL line-delimited",
        "operationId": "exportCertificatesJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered certificate results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/users.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Exports the user inventory",
        "operationId": "exportDirectoryUsersJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered user results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DirectoryUser"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/users.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "User inventory as JSON line-delimited",
        "operationId": "exportDirectoryUsersJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered user results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/users.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "User inventory as CSV",
        "operationId": "exportDirectoryUsersCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered user results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/groups.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Exports the group inventory",
        "operationId": "exportDirectoryGroupsJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered group results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DirectoryGroup"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/groups.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Group inventory as JSON line-delimited",
        "operationId": "exportDirectoryGroupsJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered group results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/groups.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Group inventory as CSV",
        "operationId": "exportDirectoryGroupsCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered group results",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/findings.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Export findings as CSV",
        "operationId": "exportFindingsCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered findings",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/findings.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Export findings as JSON",
        "operationId": "exportFindingsJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered findings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Finding"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/findings.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Export findings as JSON line-delimited",
        "operationId": "exportFindingsJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered findings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Finding"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/subnet.stats.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Subnet utilization statistics as as CSV",
        "operationId": "exportSubnetUtilizationStatsCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mask",
            "in": "query",
            "description": "an optional subnet mask size (ex:24)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "subnet utilization stats as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/snmp.arpcache.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "SNMP ARP cache data as CSV",
        "operationId": "exportSNMPARPCacheCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SNMP ARP cache data as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/tasks.json": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Exports organization tasks",
        "operationId": "exportTasksJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered task results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/export/org/tasks.jsonl": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Organization tasks as JSON line-delimited",
        "operationId": "exportTasksJSONL",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "filtered task results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/assets/type.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Top asset types as CSV",
        "operationId": "exportAssetTopTypesCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "top asset types and counts as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/assets/os.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Top asset operating systems as CSV",
        "operationId": "exportAssetTopOSCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "top operating systems and counts as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/assets/hw.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Top asset hardware products as CSV",
        "operationId": "exportAssetTopHWCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "top asset hardware platforms and counts as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/assets/tags.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Top asset tags as CSV",
        "operationId": "exportAssetTopTagsCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "top asset tags and counts as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/services/tcp.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Top TCP services as CSV",
        "operationId": "exportServicesTopTCPCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "top TCP services and counts as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/services/udp.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Top UDP services as CSV",
        "operationId": "exportServicesTopUDPCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "top UDP services and counts as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/services/protocols.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Top service protocols as CSV",
        "operationId": "exportServicesTopProtocolsCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "top service protocols and counts as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/services/products.csv": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Top service products as CSV",
        "operationId": "exportServicesTopProductsCSV",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "top service products and counts as csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/metrics": {
      "get": {
        "summary": "Export asset metrics",
        "operationId": "exportAssetMetricsJSON",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "asset metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/inline_response_map200"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get organization details",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Update organization details",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "organization options",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/key": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get API key details",
        "operationId": "getKey",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "api key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Remove the current API key",
        "operationId": "removeKey",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "empty response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/key/rotate": {
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Rotate the API key secret and return the updated key",
        "operationId": "rotateKey",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "api key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/agents": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get all agents. Legacy path for /org/explorers",
        "operationId": "getAgents",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "array of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/agents/{agent_id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get details for a single agent. Legacy path for /org/explorers/{explorer_id}",
        "operationId": "getAgent",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "UUID of the agent",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Remove and uninstall an agent. Legacy path for /org/explorers/{explorer_id}",
        "operationId": "removeAgent",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "UUID of the agent to remove",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "empty response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Update the site associated with agent. Legacy path for /org/explorers/{explorer_id}",
        "operationId": "updateAgentSite",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "UUID of the agent to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "site_id to associate with the agent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentSiteID"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/agents/{agent_id}/update": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Force an agent to update and restart. Legacy path for /org/explorers/{explorer_id}/update",
        "operationId": "upgradeAgent",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "UUID of the agent to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "empty response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/explorers": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get all explorers",
        "description": "Get all explorers. This is the same call as legacy path /org/agents",
        "operationId": "getExplorers",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "array of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Explorer"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/explorers/{explorer_id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get details for a single explorer.",
        "description": "Get details for a single explorer. This is the same call as legacy path /org/agents/{agent_id}",
        "operationId": "getExplorer",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "explorer_id",
            "in": "path",
            "description": "UUID of the explorer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "explorer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Explorer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Remove and uninstall an explorer",
        "description": "Remove and uninstall an explorer. This is the same call as legacy path /org/agents/{agent_id}",
        "operationId": "removeExplorer",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "explorer_id",
            "in": "path",
            "description": "UUID of the explorer to remove",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "empty response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Update the site associated with the explorer",
        "description": "Update the site associated with the explorer. This is the same call as legacy path /org/agents/{agent_id}",
        "operationId": "updateExplorerSite",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "explorer_id",
            "in": "path",
            "description": "UUID of the explorer to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "site_id to associate with the explorer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplorerSiteID"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "explorer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Explorer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/explorers/{explorer_id}/update": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Force an explorer to update and restart",
        "description": "Force an explorer to update and restart. This is the same call as legacy path /org/agents/{agent_id}/update",
        "operationId": "upgradeExplorer",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "explorer_id",
            "in": "path",
            "description": "UUID of the explorer to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "empty response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/hosted-zones": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get all hosted zones",
        "description": "Get all hosted zones. Hosted Zones are only available to Enterprise licensed customers.",
        "operationId": "getHostedZones",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "array of hosted zones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HostedZone"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/hosted-zones/{hosted_zone_id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get details for a single hosted zone.",
        "description": "Get details for a single Hosted Zone. Hosted Zones are only available to Enterprise licensed customers.",
        "operationId": "getHostedZone",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hosted_zone_id",
            "in": "path",
            "description": "UUID of the hosted zone",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "hosted zone details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedZone"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/sites": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get all sites",
        "operationId": "getSites",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "array of sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Create a new site",
        "operationId": "createSite",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "site definition",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "site details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/sites/{site_id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get site details",
        "operationId": "getSite",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site_id",
            "in": "path",
            "description": "UUID or name of the site",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "site details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Remove a site and associated assets",
        "operationId": "removeSite",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site_id",
            "in": "path",
            "description": "UUID or name of the site to remove",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "empty response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Update a site definition",
        "operationId": "updateSite",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site_id",
            "in": "path",
            "description": "UUID or name of the site to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "site object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "site details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/sites/{site_id}/import": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Import a scan data file into a site",
        "operationId": "importScanData",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site_id",
            "in": "path",
            "description": "UUID or name of the site to import scan data into",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "import task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/LicenseExpiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ProcessingError"
          }
        }
      }
    },
    "/org/sites/{site_id}/import/nessus": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Import a Nessus scan data file into a site",
        "operationId": "importNessusScanData",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site_id",
            "in": "path",
            "description": "UUID or name of the site to import Nessus scan data into",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "import task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/LicenseExpiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ProcessingError"
          }
        }
      }
    },
    "/org/sites/{site_id}/import/packet": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Import a packet capture file into a site",
        "operationId": "importPacketData",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site_id",
            "in": "path",
            "description": "UUID or name of the site to import packet capture into",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "import task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/LicenseExpiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ProcessingError"
          }
        }
      }
    },
    "/org/sites/{site_id}/scan": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Create a scan task for a given site",
        "operationId": "createScan",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site_id",
            "in": "path",
            "description": "UUID or name of the site to scan",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "a created scan task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/LicenseExpiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ProcessingError"
          }
        }
      }
    },
    "/org/sites/{site_id}/sample": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Create a traffic sampling task for a given site",
        "operationId": "createSample",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site_id",
            "in": "path",
            "description": "UUID or name of the site to scan",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SampleOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "a created scan task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/LicenseExpiredError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ProcessingError"
          }
        }
      }
    },
    "/org/assets": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get all assets",
        "operationId": "getAssets",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search query in runZero search query syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A list of fields to export, comma-separated",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "array of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/org/assets/{asset_id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get asset details",
        "operationId": "getAsset",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "in": "path",
            "description": "UUID of the asset to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Remove an asset",
        "operationId": "removeAsset",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "in": "path",
            "description": "UUID of the asset to remove",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "empty response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/assets/bulk/delete": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Removes multiple assets by ID",
        "operationId": "removeBulkAssets",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "list of asset IDs to remove",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetIDs"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "empty response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/org/assets/{asset_id}/comments": {
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Update asset comments",
        "operationId": "updateAssetComments",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "in": "path",
            "description": "UUID of the asset to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "comments to apply to the asset",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetComments"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/org/assets/{asset_id}/tags": {
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Update asset tags",
        "operationId": "updateAssetTags",
        "parameters": [
          {
            "name": "_oid",
            "in": "query",
            "description": "The current Organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
[...]
